# Virtual environment
venv/
.env
*.pyc
__pycache__/

constructflow-947b1-firebase-adminsdk-fbsvc-2cf40bc4c7.json
# IDE / Editor files
.vscode/
.idea/
*.swp

# Logs & Cache
*.log
instance/
*.sqlite3

# Dependencies (if using virtual environment)
Pipfile
Pipfile.lock

# Flask Secrets
.env
config.py  # If contains sensitive info like API keys
node_modules
