<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>ADMIN</title>
    <!-- Import the component -->
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>
</head>
<body>
    <h1>ADMIN PAGE 3d Model View</h1>
    <!-- Use it like any other HTML element -->
    <model-viewer alt="Neil Armstrong's Spacesuit from the Smithsonian Digitization Programs Office and National Air and Space Museum" src="../static/shared-assets/models/NeilArmstrong.glb" ar environment-image="../static/shared-assets/environments/moon_1k.hdr" poster="../static/shared-assets/models/NeilArmstrong.webp" shadow-intensity="1" camera-controls touch-action="pan-y" style="width: 100%; height: 500px;"></model-viewer>
</body>
</html>